<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.username %>'s Friends | PlanIt </title>
</head>
<body>
    <h1>MENU</h1>
    <ul>
        <li>
            <p>- <a href ="/logo">Logo</a></p>
        </li>
        <li>
            <p>- <a href="/users/<%= user.userId %>/calendar">Calendar</a></p>
        </li>
        <li>
            <p>- <a href="/search">Search</a></p>
        </li>
        <li>
            <p>- <a href="/users/<%= user.userId %>/messages">Inbox</a></p>
        </li>
    </ul>

    <h1 class="big-title">WIP</h1>

    <% if (friends.length === 0) { %>
        <p>No Friends</p>
        <% } else { %>
        <ul>
            <% for (const friend of friends) { %>
            <li>
                <p>- <a href="/users/<%= friend.userId %>"><%= friend.username %></a></p>
            </li>
            <% } %>
        </ul>
        <% } %>
    
        <% if (pendingFriends.length === 0) { %>
            <p>No Pending Friends</p>
            <% } else { %>
            <ul>
                <% for (const friend of pendingFriends) { %>
                <li>
                    <p>- <a href="/users/<%= friend.userId %>"><%= friend.username %></a></p>
                </li>
                <% } %>
            </ul>
            <% } %>        
</body>
</html>