<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages | PlanIt </title>
</head>
<body>
    <div class="navbar">
        <a href="/logo" class="logo"><img src="/imgs/logo.png" alt="PlanIt Logo"></a>
        <% if (hasUnread) { %>
            <a href="/messages" class="menu"><img src="/imgs/inbox_notification_icon.png" alt="Inbox (Notifications)"></a>
        <% } else { %>
            <a href="/messages" class="menu"><img src="/imgs/inbox_icon.png" alt="Inbox (No Notifications)"></a>
        <% } %>
        <a href="/search" class="menu"><img src="/imgs/search_icon.png" alt="Search"></a>
        <a href="/calendar" class="menu"><img src="/imgs/calendar_icon.png" alt="Calendar"></a>
      </div>

    <h1 id = "navbarEnd">INBOX MENU</h1>
    <ul>
        <li>
            <p>- <a href="/messages">Messages</a></p>
        </li>
        <li>
            <p>- <a href="/notifications">Other Notifications</a></p>
        </li>
        <% if (user.isAdmin) { %>
            <li>
                <p>- <a href="/reports">Reports</a></p>
            </li>
        <% } %>
    </ul>
    
    <button class="btn-large"><a href="/send">Start New Message Thread</a></button>

    <h1>Message Threads</h1>

    <ul>
    <% for (const messageThread of messageThreads) { %>
        <% if (messageThread.user1Id !== user.userId) { %>
        <li>
            <p>[<%=messageThread.lastDateString%>] <a href="/messages/<%=messageThread.messageThreadId%>"><%=messageThread.user1Username%></a></p>
        </li>
        <% } else { %>
        <li>
            <p>[<%=messageThread.lastDateString%>] <a href="/messages/<%=messageThread.messageThreadId%>"><%=messageThread.user2Username%></a></p>
        </li> 
        <% } %>
    <% } %>
    </ul>

</body>
</html>