<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css" /> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages with <%= otherUser.username %> | PlanIt </title>
</head>
<body>
  <div class="navbar">
    <a href="/logo" class="logo"><img src="/imgs/logo.png" alt="PlanIt Logo"></a>
    <% if (hasUnread) { %>
      <a href="/messages" class="menu-inbox"><img src="/imgs/inbox_notification_icon.png" alt="Inbox (Notifications)"></a>
    <% } else { %>
      <a href="/messages" class="menu-inbox"><img src="/imgs/inbox_icon.png" alt="Inbox (No Notifications)"></a>
    <% } %>
    <a href="/search" class="menu-search"><img src="/imgs/search_icon.png" alt="Search"></a>
    <a href="/calendar" class="menu-calendar"><img src="/imgs/calendar_icon.png" alt="Calendar"></a>
  </div>

  <h1 id ="navbarEnd"></h1>

  <ul class="inbox-menu">
    <li>
        <p><a href="/messages" style="font-weight: bold; font-style: italic;">Messages</a></p>
    </li>
    <li>
        <p><a href="/notifications">Other Notifications</a></p>
    </li>
    <% if (user.isAdmin) { %>
        <li>
            <p><a href="/reports">Reports</a></p>
        </li>
    <% } %>
  </ul>
    
  
    <h1>Messages with <%=otherUser.username%></h1>

    <ul>
    <% for (const message of messages) { %>
        <li>
            <h3><a href="<%=message.link%>"><%=message.sendingUsername%></a></h3>
            <p><%=message.body%></p>
            <p>Sent: <%=message.dateString%></p>
        </li>
    <% } %>
    </ul>

    <div class = "form">
        <form method = "POST" action = "/api/send">
          <input 
            type="hidden"
            value="<%=otherUser.username%>"
            id="username"
            name="username"
          />
          
          <label for="body">Message</label>
            <input
              id="body"
              name="body"
              placeholder="Message (Up to 100 Characters)"
              class="text"
              type="text"
              maxlength="100"
              required
            />
          <button class = "btn">Send Message</button>
        </form>
      </div>
</body>
</html>