<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages | PlanIt </title>
</head>
<body>
    <div class="navbar">
        <a href="/logo" class="logo"><img src="/imgs/logo.png" alt="PlanIt Logo"></a>
        <% if (hasUnread) { %>
          <a href="/messages" class="menu-inbox"><img src="/imgs/inbox_notification_icon.png" alt="Inbox (Notifications)"></a>
        <% } else { %>
          <a href="/messages" class="menu-inbox"><img src="/imgs/inbox_icon.png" alt="Inbox (No Notifications)"></a>
        <% } %>
        <a href="/search" class="menu-search"><img src="/imgs/search_icon.png" alt="Search"></a>
        <a href="/users/<%=user.userId%>/calendar" class="menu-calendar"><img src="/imgs/calendar_icon.png" alt="Calendar"></a>
    </div>

    <h1 id = "navbarEnd"></h1>
    <ul class="inbox-menu">
        <li>
            <p><a href="/messages" style="font-weight: bold; font-style: italic;">Messages</a></p>
        </li>
        <li>
            <p><a href="/notifications">Other Notifications</a></p>
        </li>
        <% if (user.isAdmin) { %>
            <li>
                <p><a href="/reports">Reports</a></p>
            </li>
        <% } %>
        <button class="btn"><a href="/send">Send New Message</a></button>
    </ul>
    <div class="inbox-content">
        <h1>Message Threads</h1>
        <% if (messageThreads.length === 0) { %>
            <h2>No Message Threads</h2>
        <% } else { %>
            <ul>
                <% for (const messageThread of messageThreads) { %>
                    <% if (messageThread.user1Id !== user.userId) { %>
                    <li>
                        <% if (!messageThread.user2BeenRead) { %>
                            <span class="notification"></span>
                        <% } %>
                        <div class="grid-container">
                            <div class="profile-background <%=messageThread.user1PictureOptions[0]%>">
                                <div class="profile-head <%=messageThread.user1PictureOptions[1]%>"></div>
                                <div class="profile-body <%=messageThread.user1PictureOptions[2]%>"></div>
                            </div>
                            <div>
                                <p><a href="/messages/<%=messageThread.messageThreadId%>"><%=messageThread.user1DisplayName%> <span class="username">@<%=messageThread.user1Username%></span></a></p>
                            </div>
                            <div>
                                <p class="date">Last Message Sent:</p>
                                <p class="date"><%=messageThread.lastDateString%></p>
                            </div>
                        </div>
                    </li>
                    <% } else { %>
                    <li>
                        <% if (!messageThread.user1BeenRead) { %>
                            <span class="notification"></span>
                        <% } %>
                        <div class="grid-container">
                            <div class="profile-background <%=messageThread.user2PictureOptions[0]%>">
                                <div class="profile-head <%=messageThread.user2PictureOptions[1]%>"></div>
                                <div class="profile-body <%=messageThread.user2PictureOptions[2]%>"></div>
                            </div>
                            <div>
                                <p><a href="/messages/<%=messageThread.messageThreadId%>"><%=messageThread.user2DisplayName%> <span class="username"></span>@<%=messageThread.user2Username%></span></a></p>
                            </div>
                            <div>
                                <p class="date">Last Message Sent:</p>
                                <p class="date"><%=messageThread.lastDateString%></p>
                            </div>
                    </li> 
                    <% } %>
                <% } %>
            </ul>
        <% } %>
    </div>
</body>
</html>