<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications | PlanIt </title>
</head>
<body>
    <h1>MENU</h1>
    <ul>
        <li>
            <p>- <a href="/logo">Logo</a></p>
        </li>
        <li>
            <p>- <a href="/users/<%= user.userId %>/calendar">Calendar</a></p>
        </li>
        <li>
            <p>- <a href="/search">Search</a></p>
        </li>
        <li>
            <p>- <a href="/users/<%= user.userId %>/messages">Inbox</a></p>
        </li>
    </ul>

    <h1>INBOX MENU</h1>
    <ul>
        <li>
            <p>- <a href="/users/<%= user.userId %>/messages">Messages</a></p>
        </li>
        <li>
            <p>- <a href="/users/<%= user.userId %>/other">Other Notifications</a></p>
        </li>
        <% if (user.isAdmin) { %>
            <li>
                <p>- <a href="/reports">Reports</a></p>
            </li>
        <% } %>
    </ul>

    <h1>Other Notifications</h1>
        <% if (user.receivedNotifications.length === 0) { %>
            <p>No Notifications</p>
        <% } else { %>
            <ul>
                <% for (const notification of user.receivedNotifications) { %>
                    <% if (notification.type === "FRIEND REQUEST SENT") { %>
                    <li>
                        <p>[<%=notification.dateString%>]  <a href="<%=notification.link%>"><%=notification.sendingUsername%> sent you a friend request!</a></p>
                        <% if (!notification.respondedTo) { %>
                            <button><a href="/api/friend/<%=notification.sendingUserId%>/ACCEPT">Accept</a></button>
                            <button><a href="/api/friend/<%=notification.sendingUserId%>/DECLINE">Decline</a></button>
                        <% } %>
                    </li>
                    <% } else if (notification.type === "FRIEND REQUEST ACCEPTED") { %>
                        <li>
                            <p>[<%=notification.dateString%>]  <a href="<%=notification.link%>"><%=notification.sendingUsername%> accepted your friend request!</a></p>
                        </li>
                    <% } else if (notification.type === "FOLLOW") { %>
                    <li>
                        <p>[<%=notification.dateString%>]  <a href="<%=notification.link%>"><%=notification.sendingUsername%> followed you!</a></p>
                    </li>
                    <% } else if (notification.type === "WARNING") { %>
                        <% if (notification.sendingUsername === "JackTheChrest") { %>
                        <li>
                            <p>[<%=notification.dateString%>] Your profile features offensive content and has been modified.  Don't do it again.</p>
                        </li>   
                        <% } else if (notification.sendingUsername === "Quinn") { %>
                        <li>
                            <p>[<%=notification.dateString%>]  Your event features offensive content and has been modified.  Don't do it again.</p>
                        </li>   
                        <% } else if (notification.sendingUsername === "Matthew") { %>
                        <li>
                            <p>[<%=notification.dateString%>]  You posted an offensive wall post/comment, which has been removed.  Don't do it again.</p>
                        </li>   
                        <% } %>
                    <% } else if (notification.type === "EVENT CREATED" || notification.type === "EVENT EDITED" || notification.type === "EVENT CANCELLED") { %>
                    <li>
                        <p>[<%=notification.dateString%>]  <a href="<%=notification.link%>">Event</a></p>
                    </li>
                    <% } %>
                <% } %>
            </ul>
            <% } %>
</body>
</html>