<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications | PlanIt </title>
</head>
<body>
    <div class="navbar">
        <a href="/logo" class="logo"><img src="/imgs/logo.png" alt="PlanIt Logo"></a>
        <% if (hasUnread) { %>
          <a href="/messages" class="menu-inbox"><img src="/imgs/inbox_notification_icon.png" alt="Inbox (Notifications)"></a>
        <% } else { %>
          <a href="/messages" class="menu-inbox"><img src="/imgs/inbox_icon.png" alt="Inbox (No Notifications)"></a>
        <% } %>
        <a href="/search" class="menu-search"><img src="/imgs/search_icon.png" alt="Search"></a>
        <a href="/users/<%=user.userId%>/calendar" class="menu-calendar"><img src="/imgs/calendar_icon.png" alt="Calendar"></a>
    </div>

    <h1 id="navbarEnd"></h1>
    <ul class="inbox-menu">
        <li>
            <p><a href="/messages">Messages</a></p>
        </li>
        <li>
            <p><a href="/notifications" style="font-weight: bold; font-style: italic;">Other Notifications</a></p>
        </li>
        <% if (user.isAdmin) { %>
            <li>
                <p><a href="/reports">Reports</a></p>
            </li>
        <% } %>
    </ul>

    <div class="inbox-content">
        <h1>Other Notifications</h1>
        <% if (notifications.length === 0) { %>
            <h2>No Notifications</h2>
        <% } else { %>
            <ul>
                <% for (const notification of notifications) { %>
                    <% if (notification.type === "FRIEND REQUEST SENT") { %>
                    <li>
                        <% if (!notification.beenRead) { %>
                            <span class="notification"></span>
                        <% } %>
                        <div class="grid-container">
                            <div class="profile-background <%=notification.sendingPictureOptions[0]%>">
                                <div class="profile-head <%=notification.sendingPictureOptions[1]%>"></div>
                                <div class="profile-body <%=notification.sendingPictureOptions[2]%>"></div>
                            </div>
                            <div>
                                <p><a href="<%=notification.link%>"><%=notification.sendingDisplayName%> <span class="username">@<%=notification.sendingUsername%></span></a> sent you a friend request!</p>
                                <% if (!notification.respondedTo) { %>
                                    <button class = "btn-small" id="green"><a href="/api/friend/<%=notification.sendingUserId%>/ACCEPT">Accept</a></button>
                                    <button class = "btn-small" id="red"><a href="/api/friend/<%=notification.sendingUserId%>/DECLINE">Decline</a></button>
                                <% } %>
                            </div>
                            <div>
                                <p class="date"><%=notification.dateString%></p>
                            </div>
                        </div>
                    </li>
                    <% } else if (notification.type === "FRIEND REQUEST ACCEPTED") { %>
                        <li>
                            <% if (!notification.beenRead) { %>
                                <span class="notification"></span>
                            <% } %>
                            <div class="grid-container">
                                <div class="profile-background <%=notification.sendingPictureOptions[0]%>">
                                    <div class="profile-head <%=notification.sendingPictureOptions[1]%>"></div>
                                    <div class="profile-body <%=notification.sendingPictureOptions[2]%>"></div>
                                </div>
                                <div>
                                    <p><a href="<%=notification.link%>"><%=notification.sendingDisplayName%> <span class="username">@<%=notification.sendingUsername%></span></a> accepted your friend request!</p>
                                </div>
                                <div>
                                    <p class="date"><%=notification.dateString%></p>
                                </div>
                            </div>
                        </li>
                    <% } else if (notification.type === "FOLLOW") { %>
                    <li>
                        <% if (!notification.beenRead) { %>
                            <span class="notification"></span>
                        <% } %>
                        <div class="grid-container">
                            <div class="profile-background <%=notification.sendingPictureOptions[0]%>">
                                <div class="profile-head <%=notification.sendingPictureOptions[1]%>"></div>
                                <div class="profile-body <%=notification.sendingPictureOptions[2]%>"></div>
                            </div>
                            <div>
                                <p><a href="<%=notification.link%>"><%=notification.sendingDisplayName%> <span class="username">@<%=notification.sendingUsername%></span></a> followed you!</p>
                            </div>
                            <div>
                                <p class="date"><%=notification.dateString%></p>
                            </div>
                        </div>
                    </li>
                    <% } else if (notification.type === "WARNING") { %>
                        <% if (notification.sendingUsername === "JackTheChrest") { %>
                        <li>
                            <% if (!notification.beenRead) { %>
                                <span class="notification"></span>
                            <% } %>
                            <div class="grid-container">
                                <div class="profile-background red">
                                    <div class="profile-head red"></div>
                                    <div class="profile-body red"></div>
                                </div>
                                <div>
                                    <p>Your profile features offensive content and has been modified.  Don't do it again.</p>
                                </div>
                                <div>
                                    <p class="date"><%=notification.dateString%></p>
                                </div>
                            </div>
                        </li>   
                        <% } else if (notification.sendingUsername === "Quinn") { %>
                        <li>
                            <% if (!notification.beenRead) { %>
                                <span class="notification"></span>
                            <% } %>
                            <div class="grid-container">
                                <div class="profile-background red">
                                    <div class="profile-head red"></div>
                                    <div class="profile-body red"></div>
                                </div>
                                <div>
                                    <p>Your event features offensive content and has been modified.  Don't do it again.</p>
                                </div>
                                <div>
                                    <p class="date"><%=notification.dateString%></p>
                                </div>
                            </div>
                        </li>   
                        <% } else if (notification.sendingUsername === "Matthew") { %>
                        <li>
                            <% if (!notification.beenRead) { %>
                                <span class="notification"></span>
                            <% } %>
                            <div class="grid-container">
                                <div class="profile-background red">
                                    <div class="profile-head red"></div>
                                    <div class="profile-body red"></div>
                                </div>
                                <div>
                                    <p>You posted an offensive comment, which has been removed.  Don't do it again.</p>
                                </div>
                                <div>
                                    <p class="date"><%=notification.dateString%></p>
                                </div>
                            </div>
                        </li>   
                        <% } %>
                    <% } else if (notification.type === "EVENT CREATED") { %>
                        <li>
                            <% if (!notification.beenRead) { %>
                                <span class="notification"></span>
                            <% } %>
                            <div class="grid-container">
                                <div class="profile-background <%=notification.sendingPictureOptions[0]%>">
                                    <div class="profile-head <%=notification.sendingPictureOptions[1]%>"></div>
                                    <div class="profile-body <%=notification.sendingPictureOptions[2]%>"></div>
                                </div>
                                <div>
                                    <p>Your friend, <a href="/users/<%=notification.sendingUserId%>"><%=notification.sendingDisplayName%> <span class="username">@<%=notification.sendingUsername%></a></span> created an event!</p>
                                    <p class="emphasis"><a href="<%=notification.link%>">Check it out!</a></p>
                                <div>
                                    <p class="date"><%=notification.dateString%></p>
                                </div>
                            </div>
                        </li>
                    <% } else if (notification.type === "EVENT EDITED") { %>
                        <li>
                            <% if (!notification.beenRead) { %>
                                <span class="notification"></span>
                            <% } %>
                            <div class="grid-container">
                                <div class="profile-background <%=notification.sendingPictureOptions[0]%>">
                                    <div class="profile-head <%=notification.sendingPictureOptions[1]%>"></div>
                                    <div class="profile-body <%=notification.sendingPictureOptions[2]%>"></div>
                                </div>
                                <div>
                                    <p><a href="/users/<%=notification.sendingUserId%>"><%=notification.sendingDisplayName%> <span class="username">@<%=notification.sendingUsername%></a></span> has edited their event.</p>
                                    <p class="emphasis"><a href="<%=notification.link%>">Check it out!</a></p>
                                </div>
                                <div>
                                    <p class="date"><%=notification.dateString%></p>
                                </div>
                            </div>
                        </li>
                    <% } else if (notification.type === "EVENT DELETED") { %>
                        <li>
                            <% if (!notification.beenRead) { %>
                                <span class="notification"></span>
                            <% } %>
                            <div class="grid-container">
                                <div class="profile-background <%=notification.sendingPictureOptions[0]%>">
                                    <div class="profile-head <%=notification.sendingPictureOptions[1]%>"></div>
                                    <div class="profile-body <%=notification.sendingPictureOptions[2]%>"></div>
                                </div>
                                <div>
                                    <p><a href="/users/<%=notification.sendingUserId%>"><%=notification.sendingDisplayName%> <span class="username">@<%=notification.sendingUsername%></a></span> has deleted their event.</p>
                                </div>
                                <div>
                                    <p class="date"><%=notification.dateString%></p>
                                </div>
                            </div>
                        </li>
                    <% } else if (notification.type === "EVENT INVITE") { %>
                        <li>
                            <% if (!notification.beenRead) { %>
                                <span class="notification"></span>
                            <% } %>
                            <div class="grid-container">
                                <div class="profile-background <%=notification.sendingPictureOptions[0]%>">
                                    <div class="profile-head <%=notification.sendingPictureOptions[1]%>"></div>
                                    <div class="profile-body <%=notification.sendingPictureOptions[2]%>"></div>
                                </div>
                                <div>
                                    <p>Your friend, <a href="/users/<%=notification.sendingUserId%>"><%=notification.sendingDisplayName%> <span class="username">@<%=notification.sendingUsername%></a></span> has invited you to an event!</p>
                                    <p class="emphasis"><a href="<%=notification.link%>">Check it out!</a></p>
                                </div>
                                <div>
                                    <p class="date"><%=notification.dateString%></p>
                                </div>
                            </div>
                        </li>
                    <% } %>
                <% } %>
            </ul>
        <% } %>
    </div>
</body>
</html>