<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Log | PlanIt </title>
</head>
<body>
    <div class="navbar">
        <a href="/logo" class="logo"><img src="/imgs/logo.png" alt="PlanIt Logo"></a>
        <% if (hasUnread) { %>
          <a href="/messages" class="menu-inbox"><img src="/imgs/inbox_notification_icon.png" alt="Inbox (Notifications)"></a>
        <% } else { %>
          <a href="/messages" class="menu-inbox"><img src="/imgs/inbox_icon.png" alt="Inbox (No Notifications)"></a>
        <% } %>
        <a href="/search" class="menu-search"><img src="/imgs/search_icon.png" alt="Search"></a>
        <a href="/users/<%=user.userId%>/calendar" class="menu-calendar"><img src="/imgs/calendar_icon.png" alt="Calendar"></a>
    </div>

    <h1 id = "navbarEnd"></h1>
    <ul class="inbox-menu">
        <li>
            <p><a href="/messages">Messages</a></p>
        </li>
        <li>
            <p><a href="/notifications">Other Notifications</a></p>
        </li>
        <% if (user.isAdmin) { %>
            <li>
                <p><a href="/reports" style="font-weight: bold; font-style: italic;">Reports</a></p>
            </li>
        <% } %>
    </ul>
    
    <div class="inbox-content">
        <h1>Report Log</h1>
        <% if (pendingReports.length === 0) { %>
            <h2>No Reports</h2>
        <% } else { %>
        <ul>
            <% for (const report of pendingReports) { %>
                <% if (report.offendingContentId.charAt(0) === "P") {  %>
                    <li>
                        <% if (!report.beenRead) { %>
                            <span class="notification"></span>
                        <% } %>
                        <p><a href="<%=report.link%>">Reported Profile</a></p>
                        <p><%=report.dateString%></p>
                        <button class="btn-small" id="green"><a href="/report/respond/<%=report.offendingContentId%>/VALID">Valid</a></button>
                        <button class="btn-small" id="red"><a href="/report/respond/<%=report.offendingContentId%>/INVALID">Invalid</a></button>
                    </li>
                <% } else if (report.offendingContentId.charAt(0) === "E") { %>
                    <li>
                        <% if (!report.beenRead) { %>
                            <span class="notification"></span>
                        <% } %>
                        <p><a href="<%=report.link%>">Reported Event</a></p>
                        <p><%=report.dateString%></p>
                    </li>
                <% } else if (report.offendingContentId.charAt(0) === "C") { %>
                    <li>
                        <% if (!report.beenRead) { %>
                            <span class="notification"></span>
                        <% } %>
                        <p><a href="<%=report.link%>">Reported Comment</a></p>
                        <p><%=report.dateString%></p>
                    </li>
                <% } %>
            <% } %>
        </ul>
        <% } %>
    </div>
</body>
</html>