<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/search.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Search | PlanIt </title>
</head>
<body>
    <div class="navbar">
        <a href="/logo" class="logo"><img src="/imgs/logo.png" alt="PlanIt Logo"></a>
        <% if (hasUnread) { %>
          <a href="/messages" class="menu-inbox"><img src="/imgs/inbox_notification_icon.png" alt="Inbox (Notifications)"></a>
        <% } else { %>
          <a href="/messages" class="menu-inbox"><img src="/imgs/inbox_icon.png" alt="Inbox (No Notifications)"></a>
        <% } %>
        <a href="/search" class="menu-search"><img src="/imgs/search_icon.png" alt="Search"></a>
        <a href="/users/<%=user.userId%>/calendar" class="menu-calendar"><img src="/imgs/calendar_icon.png" alt="Calendar"></a>
    </div>
    
    <form id = "search_form" method="post" action = "/api/search">
      <div class="searchContainer">
        <label for="search">Search Users</label>
        <input type="search" id = "searchQuery" name="searchQuery" placeholder= "Enter a search term...">
          <div class="SearchTypes">
            <input type="radio" id="searchOption" name="searchOption" value = "Events" >Events
            <input type="radio" id="searchOption" name="searchOption" value = "Users" checked="checked">Users
          </div>
        </div>
    </form>
    <div class="resultsContainer">
    <% if (searchOption === "Users") { %>
      <% if (UserResults && UserResults.length > 0) { %>
        

            <% for (const result of UserResults) { %>
                <div class="resultElement">
                    <a href="/users/<%= result.userId %>"><%= result.displayName %></a>
                    <p>@<%= result.username %></p>
                </div>
           <% } %>
        <% } %>
    <% } %>
        <% if (searchOption === "Events") { %>
            
            <% if (EventResults && EventResults.length > 0) { %>
              
                  <% for (const result of EventResults) { %>
                      <div class="resultElement">
                          <a href="/events/<%= result.eventId %>"><%= result.eventName %></a>
                          <p><%= result.startDate %> - <%= result.stopDate %></p>
                          <p>Location: <%=result.location%></p>
                          
                      </div>
                 <% } %>
            <% } %>
      <% } %>      
    </div>
</body>
</html>